<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.zl.mall.shopcenter.orderinfo.mapper.OrderInfoMapper">
	<resultMap id="orderInfo"
		type="com.zl.mall.shopcenter.orderinfo.entity.OrderInfoEntity">
		<id column="order_id" jdbcType="VARCHAR" property="orderId" />
		<result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
		<result column="purchase_time" jdbcType="VARCHAR"
			property="purchaseTime" />
		<result column="plat_order_id" jdbcType="VARCHAR"
			property="platOrderId" />
		<result column="vendor_order_id" jdbcType="VARCHAR"
			property="vendorOrderId" />
		<result column="shop_id" jdbcType="VARCHAR"
				property="shopId" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="state" jdbcType="CHAR" property="state" />
		<result column="create_date" jdbcType="VARCHAR"
			property="createDate" />
		<result column="created_user_id" jdbcType="VARCHAR"
			property="createdUserId" />
		<result column="update_date" jdbcType="VARCHAR"
			property="updateDate" />
		<result column="update_user_id" jdbcType="VARCHAR"
			property="updateUserId" />
	</resultMap>

	<select id="queryList" parameterType="java.util.Map"
		resultMap="orderInfo">
		select * from order_info 
		<where>
			<if test="orderId != null and orderId != ''">
				and order_id=#{orderId, jdbcType=VARCHAR}
			</if>
			
			<if test="buyerId != null and buyerId != ''">
				and buyer_id=#{buyerId, jdbcType=VARCHAR}
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				and purchase_time=#{purchaseTime, jdbcType=VARCHAR}
			</if>
			<if test="platOrderId != null and platOrderId != ''">
				and plat_order_id=#{platOrderId, jdbcType=VARCHAR}
			</if>
			<if test="vendorOrderId != null and vendorOrderId != ''">
				and vendor_order_id=#{vendorOrderId, jdbcType=VARCHAR}
			</if>
			<if test="area != null and area != ''">
				and area=#{area, jdbcType=VARCHAR}
			</if>
			<if test="state != null and state != ''">
				and state=#{state, jdbcType=CHAR}
			</if>
			<if test="createDate != null and createDate != ''">
				and create_date=#{createDate, jdbcType=VARCHAR}
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				and created_user_id=#{createdUserId, jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null and updateDate != ''">
				and update_date=#{updateDate, jdbcType=VARCHAR}
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				and update_user_id=#{updateUserId, jdbcType=VARCHAR}
			</if>
			and shop_id = #{shopId, jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="add"
		parameterType="com.zl.mall.shopcenter.orderinfo.entity.OrderInfoEntity">
		insert into order_info (
		<trim suffixOverrides=",">
			order_id,			
			<if test="buyerId != null and buyerId != ''">
				buyer_id,
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				purchase_time,
			</if>
			<if test="platOrderId != null and platOrderId != ''">
				plat_order_id,
			</if>
			<if test="vendorOrderId != null and vendorOrderId != ''">
				vendor_order_id,
			</if>
			<if test="shopId != null and shopId != ''">
				shop_id,
			</if>
			<if test="area != null and area != ''">
				area,
			</if>
			<if test="state != null and state != ''">
				state,
			</if>
			<if test="createDate != null and createDate != ''">
				create_date,
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				created_user_id,
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date,
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				update_user_id,
			</if>			
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="orderId != null and orderId != ''">
				#{orderId, jdbcType=VARCHAR},
			</if>
			
			<if test="buyerId != null and buyerId != ''">
				#{buyerId, jdbcType=VARCHAR},
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				#{purchaseTime, jdbcType=VARCHAR},
			</if>
			<if test="platOrderId != null and platOrderId != ''">
				#{platOrderId, jdbcType=VARCHAR},
			</if>
			<if test="vendorOrderId != null and vendorOrderId != ''">
				#{vendorOrderId, jdbcType=VARCHAR},
			</if>
			<if test="shopId != null and shopId != ''">
				#{shopId, jdbcType=VARCHAR},
			</if>
			<if test="area != null and area != ''">
				#{area, jdbcType=VARCHAR},
			</if>
			<if test="state != null and state != ''">
				#{state, jdbcType=CHAR},
			</if>
			<if test="createDate != null and createDate != ''">
				#{createDate, jdbcType=VARCHAR},
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				#{createdUserId, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null and updateDate != ''">
				#{updateDate, jdbcType=VARCHAR},
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				#{updateUserId, jdbcType=VARCHAR},
			</if>			
		</trim>
		)
	</insert>
	<update id="update"
		parameterType="com.zl.mall.shopcenter.orderinfo.entity.OrderInfoEntity">
		update order_info set
		<trim suffixOverrides=",">
			
			<if test="buyerId != null and buyerId != ''">
				buyer_id=#{buyerId, jdbcType=VARCHAR},
			</if>
			<if test="purchaseTime != null and purchaseTime != ''">
				purchase_time=#{purchaseTime, jdbcType=VARCHAR},
			</if>
			<if test="platOrderId != null and platOrderId != ''">
				plat_order_id=#{platOrderId, jdbcType=VARCHAR},
			</if>
			<if test="vendorOrderId != null and vendorOrderId != ''">
				vendor_order_id=#{vendorOrderId, jdbcType=VARCHAR},
			</if>
			<if test="area != null and area != ''">
				area=#{area, jdbcType=VARCHAR},
			</if>
			<if test="state != null and state != ''">
				state=#{state, jdbcType=CHAR},
			</if>
			<if test="createDate != null and createDate != ''">
				create_date=#{createDate, jdbcType=VARCHAR},
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				created_user_id=#{createdUserId, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date=#{updateDate, jdbcType=VARCHAR},
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				update_user_id=#{updateUserId, jdbcType=VARCHAR},
			</if>			
		</trim>
		<where> and order_id=#{orderId, jdbcType=VARCHAR} and
			shop_id=#{shopId, jdbcType=VARCHAR}
		</where>
	</update>

	<delete id="delete"  parameterType="java.util.Map">
		delete from order_info
		where order_id=#{orderId, jdbcType=VARCHAR} and shop_id=#{shopId, jdbcType=VARCHAR}
	</delete>
</mapper>