<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.mall.shopcenter.vendor.mapper.VendorMapper">
	<resultMap id="vendor" type="com.zl.mall.shopcenter.vendor.entity.VendorEntity">
		<id column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
		<result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
		<result column="conventional" jdbcType="CHAR" property="conventional" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="shop_id" jdbcType="VARCHAR" property="shopId" />
		<result column="cooper_status" jdbcType="CHAR" property="cooperStatus" />
		<result column="created_date" jdbcType="VARCHAR" property="createdDate" />
		<result column="created_user_id" jdbcType="VARCHAR" property="createdUserId" />
		<result column="update_date" jdbcType="VARCHAR" property="updateDate" />
		<result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
	</resultMap>

	<select id="queryList" parameterType="java.util.Map" resultMap="vendor">
		select * from vendor
		<where>
			<if test="vendorId != null and vendorId != ''">
				 and vendor_id=#{vendorId, jdbcType=VARCHAR}
			</if>
			<if test="vendorName != null and vendorName != ''">
				 and vendor_name=#{vendorName, jdbcType=VARCHAR}
			</if>
			<if test="conventional != null and conventional != ''">
				 and conventional=#{conventional, jdbcType=CHAR}
			</if>
			<if test="path != null and path != ''">
				 and path=#{path, jdbcType=VARCHAR}
			</if>
			<if test="shopId != null and shopId != ''">
				 and shop_id=#{shopId, jdbcType=VARCHAR}
			</if>
			<if test="cooperStatus != null and cooperStatus != ''">
				 and cooper_status=#{cooperStatus, jdbcType=CHAR}
			</if>
			<if test="createdDate != null and createdDate != ''">
				 and created_date=#{createdDate, jdbcType=VARCHAR}
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				 and created_user_id=#{createdUserId, jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null and updateDate != ''">
				 and update_date=#{updateDate, jdbcType=VARCHAR}
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				 and update_user_id=#{updateUserId, jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="com.zl.mall.shopcenter.vendor.entity.VendorEntity">
		insert into vendor (
		<trim suffixOverrides=",">
			vendor_id,
			<if test="vendorName != null and vendorName != ''">
				vendor_name,
			</if>
			<if test="conventional != null and conventional != ''">
				conventional,
			</if>
			<if test="path != null and path != ''">
				path,
			</if>
			<if test="shopId != null and shopId != ''">
				shop_id,
			</if>
			<if test="cooperStatus != null and cooperStatus != ''">
				cooper_status,
			</if>
			<if test="createdDate != null and createdDate != ''">
				created_date,
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				created_user_id,
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date,
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				update_user_id,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="vendorId != null and vendorId != ''">
				#{vendorId, jdbcType=VARCHAR},
			</if>
			<if test="vendorName != null and vendorName != ''">
				#{vendorName, jdbcType=VARCHAR},
			</if>
			<if test="conventional != null and conventional != ''">
				#{conventional, jdbcType=CHAR},
			</if>
			<if test="path != null and path != ''">
				#{path, jdbcType=VARCHAR},
			</if>
			<if test="shopId != null and shopId != ''">
				#{shopId, jdbcType=VARCHAR},
			</if>
			<if test="cooperStatus != null and cooperStatus != ''">
				#{cooperStatus, jdbcType=CHAR},
			</if>
			<if test="createdDate != null and createdDate != ''">
				#{createdDate, jdbcType=VARCHAR},
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				#{createdUserId, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null and updateDate != ''">
				#{updateDate, jdbcType=VARCHAR},
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				#{updateUserId, jdbcType=VARCHAR},
			</if>
		</trim>
)
	</insert>
	<update id="update" parameterType="com.zl.mall.shopcenter.vendor.entity.VendorEntity">
		update vendor set 
		<trim suffixOverrides=",">
			<if test="vendorName != null and vendorName != ''">
				vendor_name=#{vendorName, jdbcType=VARCHAR},
			</if>
			<if test="conventional != null and conventional != ''">
				conventional=#{conventional, jdbcType=CHAR},
			</if>
			<if test="path != null and path != ''">
				path=#{path, jdbcType=VARCHAR},
			</if>
			<if test="shopId != null and shopId != ''">
				shop_id=#{shopId, jdbcType=VARCHAR},
			</if>
			<if test="cooperStatus != null and cooperStatus != ''">
				cooper_status=#{cooperStatus, jdbcType=CHAR},
			</if>
			<if test="createdDate != null and createdDate != ''">
				created_date=#{createdDate, jdbcType=VARCHAR},
			</if>
			<if test="createdUserId != null and createdUserId != ''">
				created_user_id=#{createdUserId, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date=#{updateDate, jdbcType=VARCHAR},
			</if>
			<if test="updateUserId != null and updateUserId != ''">
				update_user_id=#{updateUserId, jdbcType=VARCHAR},
			</if>
		</trim>
		<where>
			 and vendor_id=#{vendorId, jdbcType=VARCHAR}
		</where>
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from vendor 
			<where>
			 and vendor_id=#{vendorId, jdbcType=VARCHAR}
		</where>
	</delete>
	
	<select id="queryForSelect"  parameterType="java.lang.String" resultType="com.zl.mall.common.dto.SelectDto">
		select vendor_id value,vendor_name name from vendor where shop_id = #{shopId, jdbcType=VARCHAR}
	</select>
</mapper>